@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

body {
  font-family: "Quicksand", sans-serif;
}

h2 {
  padding-top: 5px;
  font-weight: bold;
  padding-left: 5px;
}

.imgtable {
  border-radius: 50%;
  width: 100px;
}

#menu-toggle .btn {
  float: left;
  margin-right: 5px;
}

label {
  font-weight: bold;
}

.page-title-icon {
  font-size: 55px;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 0.83333rem;
  margin: 15px 30px 0 0;
  background: #fff;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-radius: 0.25rem;
  width: 90px;
  height: 90px;
  float: left;
}

.page-title-subheading {
  padding: 3px 0 0;
  font-size: 0.88rem;
  opacity: 0.6;
}

.page-title-heading p {
  font-size: 30px;
  margin: 0px;
  padding-top: 25px;
}

.col {
  float: left;
}

.main-card {
  margin-bottom: 70px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.small-box {
  border-radius: 0.25rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
  display: block;
  margin-bottom: 20px;
  position: relative;
  margin-top: 15px;
}

.small-box h3 {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0 0 10px 0;
  padding: 0;
  white-space: nowrap;
  color: white;
  padding-left: 10px;
  padding-top: 5px;
}

.small-box p {
  padding-left: 10px;
  color: white;
  padding-bottom: 5px;
  font-weight: bold;
}

#link:hover {
  color: white;
  background-color: #62d8a2;
}

.activ {
  background-color: #62d8a2;
  color: white;
}

label {
  font-weight: bold;
}
.a img {
  width: 100px;
}

#footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 40px;
  border-radius: 0.25rem;
  background-color: white;
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
